@use '@assets/style/variables' as *;
@use '@assets/style/mixins' as *;

$c-main-indicator: $c-dark-main;
$c-shadow: $c-dark-secondary;
$c-font: $c-font-name;

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  margin: 40px 0 20px;

  &__title {
    font-weight: 400;
    color: $c-font;
  }

  .pagination {
    @include flex-centered;

    flex-direction: row;
    gap: 2rem;
    width: 100%;

    &__view {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;

      &-indicator {
        @include pagination-element($c-main-indicator);

        position: absolute;
        border: none;
        background-color: $c-main-indicator;
        transition: all 0.5s ease-out;
      }

      &-item {
        @include pagination-element($c-main-indicator);

        cursor: pointer;
        margin-right: 3px;

        &:hover {
          box-shadow: 0 0 12px 0 $c-shadow;
          transition: all 0.5s ease-out;
        }
      }
    }

    &__btn {
      @include flex-centered;

      width: 60px;
      height: 22px;
      padding: 0 0 2px;
    }

    &__loading {
      width: 5%;
      height: 16px;
      margin: 0 auto;
      border-radius: 10px;

      background-color: $c-shadow;

      animation: pulse 3s infinite ease-in-out;
    }
  }
}

@keyframes pulse {
  0% {
    width: 5%;
  }

  50% {
    width: 40%;
  }

  100% {
    width: 5%;
  }
}
