@use '../../../../assets/style/variables' as *;

$c-error-message: $c-error-text;

.form {
  width: 100%;
  padding: 40px 30px 95px;
}

.error {
  align-self: center;
  margin-top: 15px;
  color: $c-error-message;
}
