@use '../../../../assets/style/variables' as *;

$c-error-message: $c-error-text;

.form {
  width: 100%;
  padding: 40px 30px 95px;
}

.error {
  align-self: center;
  margin-top: 15px;
  color: $c-error-message;
}

.title {
  margin-bottom: 55px;

  &-header {
    margin: 0;
  }

  &-subheader {
    color: $c-dark-hover;
  }

  &-link {
    margin-left: 5px;
    color: $c-dark-main;
    text-decoration: underline;

    &:hover {
      color: $c-dark-hover;
    }
  }
}
