@use '@assets/style/mixins' as *;

.promocode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 480px;
  padding: 40px;

  background-color: #2d2d2d;

  &__header {
    @include section-header;
  }

  &__slider {
    @include container;
    @include slider-dark;

    width: 80%;
    max-width: 1000px;
    height: 100%;
    border-radius: 20px;

    background-color: white;
  }

  &__loading {
    @include container;

    position: relative;
    bottom: 120px;
    height: 70%;
  }
}
