.price-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;

  .price {
    font-size: 14px;
    font-weight: 700;
  }

  .discounted {
    font-weight: 400;
    text-decoration: line-through;
  }
}
