CTP_PROJECT_KEY=ecommercekey
CTP_CLIENT_SECRET=your_client_secret_here
CTP_CLIENT_ID=your_client_id_here
CTP_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com
CTP_API_URL=https://api.europe-west1.gcp.commercetools.com
CTP_SCOPES=view_products:ecommercekey view_shopping_lists:ecommercekey manage_my_shopping_lists:ecommercekey manage_orders:ecommercekey view_payments:ecommercekey introspect_oauth_tokens:ecommercekey view_standalone_prices:ecommercekey manage_my_quotes:ecommercekey view_discount_codes:ecommercekey view_product_selections:ecommercekey manage_customers:ecommercekey manage_my_profile:ecommercekey manage_my_quote_requests:ecommercekey view_project_settings:ecommercekey view_checkout_transactions:ecommercekey view_cart_discounts:ecommercekey view_quotes:ecommercekey manage_my_business_units:ecommercekey manage_my_payments:ecommercekey manage_my_orders:ecommercekey create_anonymous_token:ecommercekey view_categories:ecommercekey;