@use './variables' as *;

@mixin link($color, $color-hover) {
  color: $color;
  text-decoration: none;

  &:hover {
    color: $color-hover;
    transition: 0.5s ease-in-out;
  }
}

@mixin link-underline($color) {
  width: 0;
  height: 2px;
  margin-top: 3px;

  background-color: $color;

  transition:
    width 0.5s ease-out,
    background-color 0.5s ease-out;
}

@mixin link-underline-hover($color) {
  width: 100%;
  background-color: $color;
}

@mixin link-item($color-underline, $color-underline-hover) {
  display: flex;
  flex-direction: column;
  justify-content: start;

  .underline {
    @include link-underline($color-underline);
  }

  &:hover {
    .underline {
      @include link-underline-hover($color-underline-hover);
    }
  }
}

@mixin card-button($color, $color-hover) {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 21px;
  height: 21px;
  padding: 0;
  border: 1.5px solid $color;
  border-radius: 50%;

  background-color: $color;

  svg {
    fill: $color-hover;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-hover;
    transition: all 0.5s ease-in-out;

    svg {
      fill: $color;
    }
  }
}

@mixin container {
  max-width: 1240px;
  margin: 0 auto;
}

@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin pagination-element($color) {
  height: 16px;
  border: 1px solid $color;
  border-radius: 10px;
}

@mixin item-hovered {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 0 15px 1px $c-dark-secondary;
}

@mixin slider-dark {
  --swiper-navigation-color: $c-dark-secondary;
  --swiper-pagination-color: #282828;
  --swiper-pagination-bullet-size: 12px;
}
