.burger-menu {
  display: none;
}

@media screen and (width <= 699px) {
  .burger-menu {
    position: fixed;
    z-index: 8;
    top: 0;
    right: -300px;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 300px;
    height: 100vh;

    background-color: #fff;

    transition: 0.8s ease-in-out;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      font-size: 1rem;
      list-style: none;
    }

    &__open {
      transform: translateX(-100%);
    }
  }
}
