/* header */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 101px;
  padding: 10px;
  border-bottom: 1px solid #000;

  &__logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    &-img {
      width: 40px;
      height: auto;
    }

    &-title {
      font-family: Sneakers, sans-serif;
    }
  }

  .nav-menu {
    display: flex;
    gap: 40px;
    padding: 0;
    list-style: none;
  }

  &__user {
    display: flex;
    gap: 30px;
  }
}
