/* header */
@use '../../assets/style/mixins' as *;
@use '@assets/style/variables' as *;

$c-header-main: $c-dark-main;
$c-header-hover: $c-dark-hover;

.underline {
  width: 0%;
  height: 2px;
  margin-top: 3px;

  background-color: $c-header-main;

  transition:
    width 0.5s ease-out,
    background-color 0.5s ease-out;
}

.arrow {
  position: relative;
  width: 15px;
  margin-left: 8px;
  transition: transform 0.5s ease-out;

  &__line {
    width: 10px;
    height: 1.5px;
    background-color: $c-header-main;
  }

  .left {
    transform: rotate(45deg);
  }

  .right {
    position: relative;
    top: -1.5px;
    right: -6px;
    transform: rotate(-45deg);
  }
}

.arrow-open {
  transform: rotateX(180deg);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 101px;
  padding: 0 40px;
  border-bottom: 1px solid $c-header-main;

  &__logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    &-img {
      position: relative;
      z-index: 10;
      width: 50px;
      height: auto;
    }

    &-title {
      font-family: Sneakers, sans-serif;
      font-size: 2rem;
    }
  }

  .nav-menu {
    display: flex;
    gap: 40px;
    padding: 0;
    list-style: none;

    a {
      @include link-dark;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: start;

      &:hover {
        .underline {
          width: 100%;
          background-color: $c-header-hover;
        }
      }
    }
  }

  &__user {
    display: flex;
    gap: 30px;

    &-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 43px;
      height: 43px;

      &:hover {
        cursor: pointer;

        svg {
          fill: $c-header-hover;
        }

        .arrow {
          &__line {
            background-color: $c-header-hover;
          }
        }
      }
    }
  }
}

@media screen and (width <= 699px) {
  .header {
    .nav-menu {
      display: none;
    }

    &__user {
      display: none;
    }
  }
}
