@use '../../../assets/style/variables.scss' as *;

/* input */

$c-input-border: $c-light-secondary;
$c-input-text: $c-dark-secondary;
$c-input-label: $c-dark-main;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  height: 50px;
  margin-top: 10px;
  padding: 0 14px;
  border: 1px solid $c-input-border;
  border-radius: 50px;

  font-size: 16px;
  color: $c-input-text;

  &:focus {
    outline: none;
  }
}

.label {
  font-size: 16px;
  color: $c-input-label;
}
