@use '../../../assets/style/variables.scss' as *;

/* input */

$c-input-border: $c-light-secondary;
$c-input-text: $c-dark-secondary;
$c-input-label: $c-dark-main;
$c-input-error: $c-error-text;

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
}

.input {
  height: 50px;
  padding: 0 14px;
  border: 1px solid $c-input-border;
  border-radius: 50px;

  font-size: 16px;
  color: $c-input-text;

  &:focus {
    outline: none;
  }
}

.label {
  font-size: 16px;
  color: $c-input-label;
}

.error {
  height: 20px;
  font-size: 14px;
  color: $c-input-error;
}

.visibility {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  margin: 0;
  padding: 0;
  border: none;

  color: $c-dark-hover;

  background: none;
}

.reset-input {
  cursor: pointer;

  position: absolute;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 8% !important;
  height: 50px !important;
  border-radius: 50px;

  font-size: 2rem;
}
